 //----- Jugadores -----//
  
 .jugador {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px 2px rgba(#000, 0.05);
    border: 1px solid #0e5d96;
  
    h3 {
      margin-bottom: var(--spacing);
      color: white;
      font-weight: normal;
    }
  
    Button {
      $color: #127ac5;
      $back-color: #00000000;
      line-height: 2rem;
      padding: 0 1rem;
      border-radius: 1rem;      
      color: $color;
      background-color: $back-color;
      margin-right: var(--spacing);
      border-color: $color;
    }
  }