.logo-ssc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 2.5rem;
    border-radius: 0.25rem;

    img{
        object-fit: cover;
        margin-bottom: var(--spacing);
        height: 207.75px;
        width: 369px;
        }
    
}